h1{
	font-family:"VLNL Donuts"; src: url("//db.onlinewebfonts.com/t/1ff4f3438dd8a794cb009be8e5d0d8ac.eot")!important;
	letter-spacing: 0.150em;
	text-align: center;
	color: #FCF4CE;
	padding :3%
}


h2{
	color: #D3CCAB;
}


h3{
	color: #D3CCAB;
}

p{
	font-family: 'Karla', sans-serif;
	font-size: 25px;
text-align: center;
	color: #D3CCAB;
	padding-left: 100px;
	padding-right:100px;
	padding-bottom: 40px;
	max-width: 100%;
	max-height: auto;
}

body{
	background-color: #A39947;
	text-align: center;
}


h4{
	font-family:"VLNL Donuts"; src: url("//db.onlinewebfonts.com/t/1ff4f3438dd8a794cb009be8e5d0d8ac.eot")!important;
	letter-spacing: 0.150em;
	text-align: center;
	color: #FCF4CE;

}

a{
	color: #E99A6B;
	font-size: 20px;
	text-decoration: none;
}

a:hover{
	color: #FCF4CE;
}

img{
	width: 26%;
	padding-bottom: 4%;
}