



img {

  float: center;
width: 30%;
height: auto;
margin: 1.66%;
 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

h1{
	font-family:"VLNL Donuts"; src: url("//db.onlinewebfonts.com/t/1ff4f3438dd8a794cb009be8e5d0d8ac.eot")!important;
	letter-spacing: 0.150em;
	text-align: center;
	color: #C5B68F;
	padding :3%
}


p{
	font-family: 'Karla', sans-serif;
	
	text-align: center;
	color: #C5B68F;
}



body{
	background-color: #1D1D1C;
	text-align: center;
}


a{
	color: #A39947;
	font-size: 20px;
	text-decoration: none;
}

a:hover{
	color: #FCF4CE;
}

hr{
	color: #A39947;

}

